@import "tailwindcss";

:root {
  --font-primary: var(--font-quicksand);
  --font-secondary: var(--font-nunito);
}

body {
  font-family: var(--font-secondary);
  background: #ffffff;
  color: #111827;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav,
a {
  font-family: var(--font-primary);
}